body{
  
 background-image: linear-gradient(to right,rgb(221, 35, 221) ,rgb(96, 74, 192));

}

#intro{
  display: flex;
  align-items: left;
  align-items: center;
  justify-content: center;

 
}
h1 {
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 2px;
}

#about {
   display: flex;
   align-items: left;
  align-items: center;
  justify-content: center;

}

h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#introduction{

  border-radius: 180px;
}

#photo{
  display: flex;
 border-radius: 150px
 
}

#about{
  display: flex;
  align-items: center;
  justify-content: center;
}

#skill-board{
display: flex;
flex-direction: row;
flex-wrap: wrap;

}


#skill-card{
  /* background-image: linear-gradient(to right,rgb(199, 199, 199),rgb(255, 255, 255)); */
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin:6px
  
}

#skillset-cards{
    justify-content: center;
    align-items: center;
  border-radius: 20px;
  width: 160px;
  height: 190px;
  margin:6px

  
  
}


#skillset-board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  }

  #project-card{
    width: 70%;
    border-radius: 30px;

  }

#project-board{
  display: flex;
  height: 400px;
  box-shadow: 2px;
  justify-content: center;
  align-items: center;
 
  } 

  #projects-list{
    background-color:rgb(218, 218, 218);
    margin:15px;
    
    border-radius: 20px;
    
  }

  #project-content {
    background-color: rgb(255, 255, 255);
 
  }

  ul {
    list-style-type: none;
  }

  /* #project-image{
 
  } */
 
  #heading{
    color: rgb(7, 7, 7)
  }

  #subheading{
    font-size: 20px;
    color: rgb(255, 241, 241);
  }

  #project-section{
    height: 500px;
  }

  #contact-card{
    border-radius: 20px;
  }

  #projectpage{
    width: 600px;
  }